################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
ZRNAssets/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db
